* {
    margin: 20px;
}

body {
    background-color: rgb(245, 214, 214);
}





.imgback {
    height: 300px;
    /* define altura (https://developer.mozilla.org/en-US/docs/Web/CSS/height) */

    max-height: auto;
    /* define altura maxima que o elemento pode ter (https://developer.mozilla.org/en-US/docs/Web/CSS/max-height) */

    min-height: auto;
    /* define altura minima que o elemento pode ter (https://developer.mozilla.org/en-US/docs/Web/CSS/min-heigth) */   

    width: auto;
    /* define largura (https://developer.mozilla.org/en-US/docs/Web/CSS/width) */

    max-width: auto;
    /* define largura maxima que o elemento pode ter (https://developer.mozilla.org/en-US/docs/Web/CSS/max-width) */

    min-width: auto;
    /* define largura minima que o elemento pode ter (https://developer.mozilla.org/en-US/docs/Web/CSS/min-width) */



    background: rgb(148, 148, 148) url(./pexels-vlad-alexandru-popa-1402790.jpg) no-repeat center 75%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgback p {
    padding: 10px;
    text-align: center;
    color: rgba(255, 255, 255);
    background-color: rgba(180, 64, 64, 0.678);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    background-color: rgb(236, 194, 194);
    color: rgb(59, 30, 87);

    border: 20px solid rgb(236, 194, 194);
    border-radius: 10px;

}



.text {
    color: rgb(53, 53, 100);
}

.link {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.link p {
    color: rgb(170, 28, 28);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    transition: 0.5s;
}

.link p:hover {
    color: rgb(117, 32, 32);
    text-decoration: underline;
}